@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.app{
  min-height: 100vh;
}

/* *{
  --color: #FF6B6B;
  --color: #21C997;
  --color: #22B8CF;
  --color: #339AF0;
  --color: #37C172;
  --color: #3CADA3;
  --color: #495DC6;
  --color: #4C6FF5;
  --color: #50CF66;
  --color: #7950F2;
  --color: #94D82C;
  --color: #CB5DE8;
  --color: #F06594;
  --color: #F4CA64;
  --color: #FCC418;
  --color: #FF922B;
  --color: #212529;
  --color: #343A40;
  --color: #495057;
  --color: #868E96;
  --color: #ADB5BD;
  --color: #CED4DA;
  --color: #DEE2E6;
  --color: #E9ECEF;
  --color: #F1F3F5;
  --color: #F8F9FA;
} */